/* css module은 css를 불러와 사용할 떄 클래스 이름 고유한 값, 
즉 [파일이름]_[클래스 이름]_[해시 값] 형태로 자동으로 만들어서 컴포넌트 스타일 클래스 이름이 중첩되는 현상을 방지한다. */

.wrapper {
  background: black;
  padding: 1rem;
  color: white;
  font-size: 2rem;

  &.inverted {
    color: black;
    background: white;
    border: 1px solid black;
  }
}

/* global css */
:global {
  .something {
    font-weight: 800;
    color: aqua;
  }
}
